
<link rel="stylesheet" href="/css/allrooms.css">
<section class="room-section">
    <h2 class="text-white mb-5">Rooms</h2>
    <div class="d-flex container-fluid justify-content-center">
        <div class="card room-card">
            <a href="/room/6514aa8725e5b7bac35786dc"></a>
            <h1>Ask me...</h1>
        </div>
        <div class="card room-card">
            <h1>Coming soon...</h1>
        </div>
        <div class="card room-card">
            <h1>Coming soon...</h1>
        </div>
    </div>
</section>
