<link rel="stylesheet" href="/css/roomcards.css">
<div>
    <div class="d-flex container-fluid justify-content-center">
        <% rooms.forEach(element=>{ %>
            <div class="card room-card">
                    <%if(element.img){%>
                        <img src="/images/<%=element.img%>" class="card-img-top" alt="...">
                        <% } %>
                <div class="card-body">
                    <h1>
                        <%=element.name%>
                    </h1>
                </div>
                <a class="btn btn-go" href="/room/<%=element._id%>">go</a>
            </div>
        <% }); %>
    </div>
</div>