<%layout('layouts/boilerplate') %>
<div class="container">
    <div class="notes-section">
        <h1>Notes</h1>
        <%layout('partials/notes') %>
        <!-- Aquí puedes agregar contenido adicional para las notas -->
    </div>
    <div class="main-section">
        <h1>Room</h1>
        <!-- Aquí puedes colocar el contenido de la conversación -->
    </div>
</div>


    
