<%layout('layouts/rooms', {room: info}) %>
    <div class="notes-section">
        <%-include('../partials/notes') %>
    </div>
    <div class="main-section container-fluid d-flex">
        <%- include('../partials/chat', { response: info });%>
    </div>