<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Learner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body class="d-flex flex-column">
    <!-- <div class="d-flex w-100 h-100 p-3 mx-auto flex-column"> -->
    <!-- <div class="bg-img d-flex container-fluid"> -->

    <div class="main-section">
            <!-- Contenido de la sección principal aquí -->
            <header class="container-fluid mb-auto bg-fancynav align-items-center">
                <div class="row">
                    <div class="col-2">
                        <h3 class="float-md-left mb-0 text-white">AI Learner</h3>
                    </div>
                    <div class="col-8">
                        <nav class="nav nav-masthead justify-content-end float-md-right">
                            <!-- <a class="nav-link" href="/about">About</a> -->
                            <a class="nav-link" href="/contact">Contact</a>

                            <a class="nav-link" href="/login">Login</a>

                        </nav>
                    </div>
                    <div class="col-2 align-items-center">
                        <a class="btn-try"="/">Get started</a>
                    </div>
                </div>
            </header>
            <main class="text-center px-3 mt-5">
                <h1 class="main-txt">Explore the Future of <br> Learning</h1>
                <a href="/" class="btn font-weight-bold border-white btn-init">Start</a>
            </main>
    </div>
    <section class="news-section">
        <!-- Contenido de la sección de noticias aquí -->
    </section>

    <section class="room-section">
        <!-- Contenido de la sección de room aquí -->
    </section>
    <footer class="footer align-items-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <p>&copy; 2023 AI Learner </p>
                </div>
                <div class="col-6">
                    <a href="">Contact</a>
                </div>

            </div>
        </div>
    </footer>


    <!-- </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- <script src='/javascripts/validateForms.js'></script> -->
</body>

</html>