<%layout('layouts/boilerplate') %>
<link rel="stylesheet" href="css/info.css">
<header>
    <h1>Explora tu Mente</h1>
</header>
<main>
    <section id="introduction">
        <h2>Introducción</h2>
        <p>Tu mente es como una computadora increíblemente sofisticada que procesa información de diversas maneras...</p>
    </section>
    <!-- Otras secciones aquí -->
</main>
<footer>
    <p>&copy; 2023 Explora tu Mente</p>
</footer>
