.room-card {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.5s ease;
    width: 23rem;
    height: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.room-card:hover {
    background-color: rgba(97, 97, 97, 0.201);
}

.room-card a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-decoration: none;
    background: transparent;
    z-index: 1;
}

.room-card h1 {
    z-index: 2; /* Asegura que el contenido esté sobre el fondo */
    position: relative; /* Restaura la posición relativa para el contenido */
    color: #ffffff;
}

.room-card img {
    max-width: 100%;
    max-height: 100%;
}
.room-card:nth-child(1) {
    background-color: #049dd9;
}
.room-card:nth-child(1):hover {
    background-color: #035aa6;
}