<% layout('layouts/boilerplate') %>
    <div class="container d-flex justify-content-center align-items-center mt-5 ">
        <!-- <div class="row"> -->
        <div class="col-md-6 col-xl-6 mt-5 ">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Sign up</div>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" placeholder="username"autofocus required>
                            <div class="invalid-feedback">
                                required!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="text" id="email" name="email" autofocus
                                aria-describedby="emailHelp" placeholder="Email"
                                 required>
                            <div class="invalid-feedback">
                                required!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="invalid-feedback">
                                required!
                            </div>
                        </div>
                        <span class="d-flex justify-content-center align-items-center mt-4">
                            <button type="submit" class="btn btn-success btn-block btn-login">Sign up</button>
                        </span>

                    </form>
                    <span class="inline-elements mt-5">
                        <h5>¿Already have an account?</h5>
                        <a href="/login">Sign in here</a>
                    </span>
                </div>
            </div>
        </div>

        <!-- </div> -->
    </div>